<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!-- For Windows authentication:: <add key="connect" value="Data Source=MANSIJ\SQLEXPRESS;Initial Catalog=EEC_DB;Integrated Security=True" />  -->
		<add key="connect" value="Data Source=MANSIJ\SQLEXPRESS;Initial Catalog=EEC_DB;Persist Security Info=True;User=sa;Password=123" />
	</appSettings>
</configuration>